html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
}

img{
    display: inline-block;
}

/* Planeta
 * */
section#espacio{
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#tierra{
    height: 30em;
    width: 30em;
}

img#planeta{
    position:absolute;
    display: block;
    height: 20em;
    width: 20em;
    padding: 5em;
}

div#orbita{
    width: 30em;
    height: 30em;
    position: absolute;
}

section#planeta img{
    position: absolute;
    left: 50%;
    top: 10em;

}

div#orbita img.nave{
    height: 7em;
    width:auto;

    position: absolute;
}

/* NASA
 * */
section#NASA{
    height: 24%;
    width: 90%;
    margin: 0 auto;
    padding:5px;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
}

div#hangar{
    height: 100%;
    width: 50%;
}

div#plataforma{
    background-image: url('img/plataforma.png');
    background-size: 100% 100%;
    height: 90%;
    padding: 5px;
    width: 200px;
    box-shadow: 0px 0px 6px 1px grey inset;
}

img.nave{
    display: inline-block;
    height: 80%;
    width: auto;
}
